@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
html {
    /* Set a linear gradient as the background */
    background: linear-gradient(to top, #0c5241 0%, #1ad5e2 100%);
    /* Set height */
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}

body {
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    transition: 0.25s;
}

#options {
    margin: auto;
    width: 55vh;
    height: 25vh;
    position: relative;
}

.option {
    position: absolute;
    border-radius: 5vh;
    height: 25vh;
    width: 25vh;
    font-size: 2.5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simple {
    background-color: darkorange;
    left: 0px;
}

#custom {
    background-color: mediumpurple;
    right: 0px;
}


/* 
All settings for the generator pages
*/

form>div {
    margin-bottom: 3vh;
}

#submit {
    margin-bottom: 0;
}

form {
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 2vh 5vh;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 40px 0 rgb(0, 238, 255);
}